.app {
    display: block;
    overflow: hidden;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}

.headerContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 20%;
}

.formContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 10%;
}

.participansContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    border: red 1px solid;
    height: 65%;
}

.footerContainer {
    height: 4%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}